@model DogCarePlatform.Web.ViewModels.Owner.ListDogsittersViewModel
@{
    ViewData["Title"] = "Намери кучегледачка";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Намери кучегледачка</h1>
@foreach (var dogsitter in Model.Dogsitters)
{
    <div class="container">
        <div class="col s12 m8 offset-m2 l6 offset-l3">
            <div class="card-panel grey lighten-5 z-depth-1">
                <div class="row valign-wrapper">
                    <div class="col s2">
                        <img src="@dogsitter.ImageUrl" alt="" class="circle responsive-img">
                        <!-- notice the "circle" class -->
                    </div>
                    <div class="col s9">
                        <span class="black-text">
                            @dogsitter.Description
                        </span>
                    </div>
                    <div class="col s1">
                        <span class="black-text">
                            <i class="material-icons yellow-text">star</i>
                            <label>Rating</label>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

