@model DogCarePlatform.Web.ViewModels.Notification.SendRequestInputModel
@using DogCarePlatform.Common
@{
    ViewData["Title"] = GlobalConstants.SendRequestToDogsitter;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="parallax-container">
    <div class="parallax"><img src="https://res.cloudinary.com/add cloud name here/image/upload/v1586213218/parallax_dog_lake_bgxxsm.jpg"></div>
</div>
<div class="section white">
    <div class="row container" style="padding-top: 100px; padding-bottom: 100px;">
        <div class="col s12">
            <form class="" method="post" asp-controller="Owner" asp-action="SendRequestToDogsitter">
                <div class="row">
                    <input readonly asp-for="Date" type="datetime" class="datepicker col s4 offset-s4 center-align" placeholder="Въведете дата">
                </div>
                <div class="row">
                    <input readonly asp-for="StartTime" type="datetime" class="timepicker col s4 offset-s4 center-align" placeholder="Въведете начално време">
                </div>
                <div class="row">
                    <input readonly asp-for="EndTime" type="datetime" class="timepicker col s4  offset-s4 center-align" placeholder="Въведете крайно време">
                    <input readonly type="hidden" value="@ViewData["dogsitterId"]" asp-for="Id">
                </div>
                <div class="row">
                    <button class="btn waves-effect waves-light modal-trigger col s4 offset-s4 pulse" type="submit">Уговаряне на дата и час</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="parallax-container">
    <div class="parallax"><img src="https://res.cloudinary.com/add cloud name here/image/upload/v1587637138/photo-1470074197821-3abc53a30868_g1vpc7.jpg"></div>
</div>
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    <script>
        $(document).ready(function () {
            $("#container-div").removeClass("container");
            //var oneYearFromNow = new Date();
            //oneYearFromNow.setFullYear(oneYearFromNow.getFullYear() + 1);
            $('.datepicker').datepicker({
                selectMonths: true, // Creates a dropdown to control month
                selectYears: 40, // Creates a dropdown of 15 years to control year
                format: 'yyyy-mm-dd',
                minDate: new Date(),
                maxDate: new Date(new Date().setFullYear(new Date().getFullYear() + 1)),
            });
            $('.timepicker').timepicker();
            $('.parallax').parallax();

        });
    </script>
    <script>
        $(document).ready(function () {
             if ('@this.TempData["errorEndTime"]' != '') {
                 window.M.toast({ html: '@TempData["errorEndTime"]', classes: 'red darken-1 rounded' }, 5000);
                }
        });
    </script>
}