@using DogCarePlatform.Common
@using DogCarePlatform.Data.Models
@using Microsoft.AspNetCore.Identity
@using System.Linq
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<!DOCTYPE html>
<html>
<head>
    <title>Access Denied</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8">
    <style>
        body {
            background-color: white;
            color: black;
        }

        h1 {
            color: red;
        }

        h6 {
            color: red;
            text-decoration: underline;
        }

        a.button1 {
            display: inline-block;
            padding: 0.35em 1.2em;
            border: 0.1em solid black;
            margin: 0 auto;
            border-radius: 0.12em;
            box-sizing: border-box;
            text-decoration: none;
            font-family: 'Roboto',sans-serif;
            font-weight: 300;
            color: black;
            text-align: center;
            transition: all 0.2s;
            justify-content: center;
        }

            a.button1:hover {
                color: red;
                background-color: white;
            }
        .wrapper {
            text-align: center;
        }

        .button {
            position: absolute;
            top: 50%;
        }
    </style>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
    @this.RenderBody()

</body>
</html>

