@model DogCarePlatform.Web.ViewModels.Notification.NotificationAfterAppointmentViewModel

@{
    ViewData["Title"] = "NotificationAfterEndOfAppointment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4 class="row center teal-text">NotificationAfterEndOfAppointment</h4>

<!-- Modal Trigger -->
<a class="waves-effect waves-light btn modal-trigger" href="#modal1">Modal</a>

<!-- Modal Structure -->
<div id="modal1" class="modal bottom-sheet">
    <partial name="_RateAndCommentPartial" model="@Model.RateAndComment" />
</div>




@section Scripts{
    <script src="~/Identity/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/Identity/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script>
        $(document).ready(function () {
            $('input#input_text, textarea#textarea2').characterCounter();
            $('.modal').modal();
        });
    </script>
}