@model DogCarePlatform.Web.ViewModels.Notification.NotificationAfterAppointmentVIewModel
@{
    ViewData["Title"] = "NotificationAfterEndOfAppointment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>NotificationAfterEndOfAppointment</h1>

