@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<h2 class="center-align">Управление на акаунт</h2>

<div>
    <h4 class="center-align">Променете настройките на профила си</h4>
    <hr />
    <div class="row">
        <div class="col-md-3" style="margin: 50px 50px;">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-9" style="padding-top: 75px;">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
