@page
@model DeletePersonalDataModel
@{
    ViewData["Title"] = "Delete Personal Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h4>@ViewData["Title"]</h4>

<div class="alert alert-warning" role="alert">
    <p>
        <strong>Изтривайки своите данни ще премахнете и своят акаунт, и тези промени не са обратими.</strong>
    </p>
</div>

<div>
    <form id="delete-user" method="post" class="form-group">
        <div asp-validation-summary="All" class="red-text"></div>
        @if (Model.RequirePassword)
        {
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="red-text"></span>
            </div>
        }
        <button class="btn btn-danger" type="submit">Изтрийте данните си и затворете акаунта.</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}