@page
@model LoginDogsitterModel
@using Microsoft.Extensions.Options
@inject IOptions<DogCarePlatform.Web.ViewModels.ReCAPTCHASettings> GoogleReCAPTCHA
@{
    ViewData["Title"] = "Вход за кучегледачки";
}

<h3 style="padding-left: 10px;" class="left-align">@ViewData["Title"]</h3>
<div class="row">
    <div class="col s4">
        <section>
            <form id="account" method="post">
                <div asp-validation-summary="All" class="red-text"></div>
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="red-text"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password">Парола</label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="red-text"></span>
                </div>
                <div class="form-group">
                    <p>
                        <label>
                            <input type="checkbox" asp-for="Input.RememberMe" />
                            <span>Запомни ме?</span>
                        </label>
                    </p>
                </div>
                <div class="form-group">
                    <button class="btn waves-effect waves-green" type="submit" name="action">
                        Вход
                        <i class="material-icons right">send</i>
                    </button>
                </div>
                <div class="form-group">
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Забравена парола?</a>
                    </p>
                    <p>
                        <a asp-page="./RegisterDogsitter" asp-route-returnUrl="@Model.ReturnUrl">Кандидаствайте в нашата платформа като кучегледачка.</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
    <div class="col s8">
        @*<img src="~/images/kidanddog.jpg" class="responsive-img" alt="">*@
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="https://www.google.com/recaptcha/api.js?render=@GoogleReCAPTCHA.Value.ReCAPTCHA_Site_Key"></script>
    <script>
        grecaptcha.ready(function () {
            grecaptcha.execute('_reCAPTCHA_site_key_', { action: 'homepage' }).then(function (token) {

            });
        });
    </script>
    <script>
        $("#bg-color").css("background-image", "url(https://res.cloudinary.com/add cloud name here/image/upload/v1587484627/Flat-Mountains_jj9sqx.svg)");  

        /* background by SVGBackgrounds.com */
    </script>
}
