@page
@model DogCarePlatform.Web.Areas.Identity.Pages.Account.LoginOwnerModel
@using Microsoft.Extensions.Options
@inject IOptions<DogCarePlatform.Web.ViewModels.ReCAPTCHASettings> GoogleReCAPTCHA

@{
    ViewData["Title"] = "Вход за собственици";
}

<h3 style="padding-left: 10px;" class="left-align">@ViewData["Title"]</h3>
<div class="row">
    <div class="col s4">
        <section>
            <form id="account" method="post" asp-route-returnUrl="@Model.ReturnUrl">
                <div asp-validation-summary="All" class="red-text"></div>
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="red-text"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password">Парола</label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="red-text"></span>
                </div>
                <div class="form-group">
                    <p>
                        <label>
                            <input type="checkbox" asp-for="Input.RememberMe" />
                            <span>Запомни ме?</span>
                        </label>
                    </p>
                </div>
                <div class="form-group">
                    <button class="btn waves-effect waves-green #f44336 red" type="submit" name="action">
                        Вход
                        <i class="material-icons right">send</i>
                    </button>
                </div>
                <div class="form-group">
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Забравена парола?</a>
                    </p>
                    <p>
                        <a asp-page="./RegisterOwner" asp-route-returnUrl="@Model.ReturnUrl">Регистрирайте се като нов потребител.</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
    <div class="col s8">
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="https://www.google.com/recaptcha/api.js?render=@GoogleReCAPTCHA.Value.ReCAPTCHA_Site_Key"></script>
    <script>
        grecaptcha.ready(function () {
            grecaptcha.execute('_reCAPTCHA_site_key_', { action: 'homepage' }).then(function (token) {

            });
        });
    </script>
    <script>
        $("#bg-color").css("background-image", "url(https://res.cloudinary.com/add cloud name here/image/upload/v1587678641/high-angle-adorable-dog-with-copy-space_23-2148454695_owcddm.jpg)").css("width", "100%").css("background-repeat", "no-repeat");
            /* background by SVGBackgrounds.com */
    </script>
}

