@using DogCarePlatform.Common
@using DogCarePlatform.Data.Models
@using Microsoft.AspNetCore.Identity
@using System.Linq

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    this.ViewData["notFilledInfo"] = GlobalConstants.NotFilledInfo;
    this.ViewData["Title"] = GlobalConstants.MainPage;
    var hasInfo = false;
    if (this.User.IsInRole("Dogsitter"))
    {
        var user = await UserManager.GetUserAsync(this.User);
        var dogsitter = user.Dogsitter;
        hasInfo = user.Dogsitter.Address != null ? true :
                   user.Dogsitter.Description != null ? true :
                   user.Dogsitter.FirstName != null ? true :
                   user.Dogsitter.MiddleName != null ? true :
                   user.Dogsitter.LastName != null ? true :
                   user.Dogsitter.WageRate >= 5 ? true :
                   user.Dogsitter.ImageUrl != null ? true : false;
    }
}
<div id="logo-page" style="background-image: url(https://res.cloudinary.com/add cloud name here/image/upload/o_65,z_0.1/v1587573460/pattern_3_rjuznz.svg)">
    <div id="page-logo-heading" style="margin: auto; position: absolute;top: 200px; left: 0;bottom: 0;right: 0;width:70%;height:60%;min-width: 200px;text-align: center;">
        <div id="logo-image-div" style="display: block; margin: 0 auto; margin-bottom:4%; max-width: 600px;">
            <img class="responsive-img" id="logo-img" src="https://res.cloudinary.com/add cloud name here/image/upload/v1587724356/logo_big_2_nrjwtp.svg" />
        </div>
        <div id="logo-header">
            <h4 class="center-align" style="color: #F8ECEC; font-family: 'Comic Sans MS', sans-serif, Arial;font-size: 3em;font-weight: lighter;text-transform: uppercase;text-shadow: 2px 2px #009688;width: 42%;margin: 0 auto;">
                Твоя <span class="#004d40 teal darken-4" style="border-radius: 4px; display: inline-block; height: 1.1em;line-height: 1.3em; padding: 0 0.2em;text-shadow: none;">рошко</span> е в добри ръце при нас!
            </h4>
        </div>
        @*<div id="downwards-arrow arrow-button">

            </div>*@
    </div>
    <a href="#introduction" id="downwards-arrow" class="btn btn-floating btn-large" style="width: 100px; height: 40px; display: block; border-top-left-radius: 4px;border-top-right-radius: 4px; outline: none;  position: absolute; bottom: 2px; left: 50%;margin-left: -50px;  background: #ffffff url(https://mariodelvalle.github.io/CaptainIconWeb/stylesheets/../img/nav-down.svg) center center no-repeat;"></a>
    @*Icons made by <a href="https://www.flaticon.com/authors/those-icons" title="Those Icons">Those Icons</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>*@
</div>
<div class="row">
    <div class="center-align">
        <div class="section white scrollspy" id="introduction">
            <div class="row container">
                <h2 class="header">Introduction</h2>
                <p class="grey-text text-darken-3 lighten-3">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint facilis mollitia placeat id ut similique voluptatibus, at nobis asperiores earum? Vitae dolores suscipit mollitia non veniam ullam autem. Accusantium, illo.</p>
            </div>
        </div>
        <div class="parallax-container">
            <div class="parallax"><img src="https://res.cloudinary.com/add cloud name here/image/upload/v1587573460/pattern_3_rjuznz.svg"></div>
        </div>
        <div class="section white scrollspy" id="howItWorks">
            <div class="row container">
                <h2 class="header">How it works</h2>
                <p class="grey-text text-darken-3 lighten-3">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint facilis mollitia placeat id ut similique voluptatibus, at nobis asperiores earum? Vitae dolores suscipit mollitia non veniam ullam autem. Accusantium, illo.</p>
            </div>
        </div>
        <div class="parallax-container">
            <div class="parallax"><img src="https://res.cloudinary.com/add cloud name here/image/upload/v1587573460/pattern_3_rjuznz.svg"></div>
        </div>
        <div class="section white scrollspy" id="pricing">
            <div class="row container">
                <h2 class="header">Pricing</h2>
                <p class="grey-text text-darken-3 lighten-3">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint facilis mollitia placeat id ut similique voluptatibus, at nobis asperiores earum? Vitae dolores suscipit mollitia non veniam ullam autem. Accusantium, illo.</p>
            </div>
        </div>

    </div>
</div>

@if (this.User.IsInRole(GlobalConstants.DogsitterRoleName))
{
    if (!hasInfo)
    {
<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <a id="menu" onclick="$('.tap-target').tapTarget('open')" class="btn btn-floating btn-large #ff8f00 amber darken-3"><i class="material-icons">menu</i></a>
</div>

 <!-- Start Tap Target Structure -->
<div class="tap-target #ff8f00 amber darken-3" data-target="menu">
    <div class="tap-target-content white-text">
        <h5 class="center"><i class="material-icons medium">warning</i></h5>
        <p id="feature-warning">
            @ViewData["notFilledInfo"]
        </p>
    </div>
</div>
    }
}

@section Scripts{
    <script>
        $(document).ready(function () {
            //$("#logo-page").append(`<h3 class="col s4 offset-s4" style="font-family: Comic Sans MS, cursive, sans-serif;position: absolute; left: 50%; top: 70%; transform: translate(-50%, -50%); color:#F8ECEC">Изполвайте нашата платформа, елементарно е!</h3>`);
        });
    </script>
    <script>
        $(document).ready(function () {
            $(".scrollspy").scrollSpy({
                scrollOffset: 64,
                throttle: 10
            });
            $("#container-div").removeClass("container");
            $('.parallax').parallax();

            // Window parameters
            var $window = $(window);
            var window_height = $window.height();
            var window_width = $window.width();


            $('#logo-header').css('top', window_height);
            $('#arrow-button').css('top', window_height);

            // Img height
            var img_height = $('#logo-img').height();

            // Nav height
            var nav_height = $(".nav-wrapper").height();

            // Set the logo page to fit the window screen
            $("#logo-page").css("height", window_height - nav_height);

            // The heading text of the logo page
            var page_logo_heading_height = $('#page-logo-heading').height();
            var page_logo_top = window_height - page_logo_heading_height;
            $('#page-logo-heading').css('height', window_height - nav_height)

            // $('#page-logo-heading').css('padding-top', window_height - page_logo_heading_height - nav_height);


            //var page_heading_top = $('#logo-header').offset().top;
            //console.log(page_heading_top);
            //var page_remaining_space = window_height - page_heading_top;
            //console.log(page_remaining_space);
            //var half_remaining_space = page_remaining_space / 2;
            //console.log(half_remaining_space);
            //var pixels_to_push = half_remaining_space - (img_height / 2);
            //console.log(pixels_to_push);

            //var percentage_part = (pixels_to_push / page_remaining_space) * 100;

            // The space between navbar and header text
            var difference_top_bot = page_logo_top;
            var center = difference_top_bot / 2;
            var center_img = img_height / 2;

            //$('#img-logo').css('height', nav_height);

            // Push the image logo to the center of the remaining space
            //$('#logo-img').css('margin-top', -pixels_to_push);
            //$('#logo-image-div').css({ 'margin-bot': pixels_to_push });
            //$('#logo-header').css({ 'margin-top': pixels_to_push });

            //$('#logo-img').css('top', -(difference_top_bot - center + center_img));
            $("#downwards-arrow").on('click', function (event) {
                if (this.hash !== "") {
                    event.preventDefault();
                    var hash = this.hash;
                    $('html, body').animate({
                        scrollTop: $(hash).offset().top
                    },
                        1000, //time in miliseconds to scroll
                        function () {
                            window.location.hash = hash;
                        });
                }
            });

            //$("#downwards-arrow").css("left", "49%").css("top", "75%").css("transform", "translate(-50%, -50%);");

        });
    </script>
    @if (this.User.IsInRole(GlobalConstants.DogsitterRoleName))
    {
        if (!hasInfo)
        {
    <script>
        $(document).ready(function () {
            $(".tap-target").tapTarget();
        });

        $(document).ready(function () {
            setTimeout(function () {
                $('.tap-target').tapTarget('open')
            }, 1);
        });

    </script>
        }
    }
}
