@using DogCarePlatform.Common
@using DogCarePlatform.Data.Models
@using Microsoft.AspNetCore.Identity
@using System.Linq

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    this.ViewData["notFilledInfo"] = GlobalConstants.NotFilledInfo;
    this.ViewData["Title"] = GlobalConstants.MainPage;
    var hasInfo = false;
    if (this.User.IsInRole("Dogsitter"))
    {
        var user = await UserManager.GetUserAsync(this.User);
        var dogsitter = user.Dogsitter;
        hasInfo = user.Dogsitter.Address != null ? true :
                   user.Dogsitter.Description != null ? true :
                   user.Dogsitter.FirstName != null ? true :
                   user.Dogsitter.MiddleName != null ? true :
                   user.Dogsitter.LastName != null ? true :
                   user.Dogsitter.WageRate >= 5 ? true :
                   user.Dogsitter.ImageUrl != null ? true : false;
    }
}
<div id="logo-page" style="background-image: url(https://res.cloudinary.com/add cloud name here/image/upload/o_65,z_0.1/v1587573460/pattern_3_rjuznz.svg)">
    <div id="page-logo-heading" style="margin: auto; position: absolute;top: 200px; left: 0;bottom: 0;right: 0;width:70%;height:60%;min-width: 200px;text-align: center;">
        <div id="logo-image-div" class="logo-image" style="display: block; margin: 0 auto; margin-bottom:4%; max-width: 600px;">
            <img class="responsive-img" id="logo-img" src="https://res.cloudinary.com/add cloud name here/image/upload/v1587724356/logo_big_2_nrjwtp.svg" />
        </div>
        <div id="logo-header">
            <h4 class="center-align" style="color: #F8ECEC; font-family: 'Comic Sans MS', sans-serif, Arial;font-size: 2em;font-weight: lighter;text-transform: uppercase;text-shadow: 2px 2px #009688;width: 42%;margin: 0 auto;">
                Твоя <span class="#004d40 teal darken-4" style="border-radius: 4px; display: inline-block; height: 1.1em;line-height: 1.3em; padding: 0 0.2em;text-shadow: none;">рошко</span> е в добри ръце при нас!
            </h4>
        </div>
    </div>
    <p style="color: #ffffff;font-size: 1.2em; position: absolute; bottom: 0; left: 0; right: 0; min-width: 200px; text-align: center; bottom: 40px;">Натиснете за да разгледате Pal4Paw</p>
    <a href="#introduction" id="downwards-arrow arrow-button" class="btn btn-floating btn-large" style="width: 100px; height: 40px; display: block; border-top-left-radius: 4px;border-top-right-radius: 4px; outline: none;  position: absolute; bottom: 2px; left: 50%;margin-left: -50px;  background: #ffffff url(https://res.cloudinary.com/add cloud name here/image/upload/v1587741847/nav-down_kp2nge.svg) center center no-repeat;"></a>
</div>
<div class="row">
    <div class="center-align">
        <div class="section white scrollspy" id="introduction">
            <div class="row container center-align">
                <h2 class="header">Как работи</h2>
                <p class="grey-text text-darken-3 lighten-3">Процесът на протичане на работа е изключително приятен, създаден за ваше облекчение.</p>
                <img class="responsive-img" src="https://res.cloudinary.com/add cloud name here/image/upload/v1587742461/how-it-works_mgemrr.png" />
                @if(this.SignInManager.IsSignedIn(this.User) && User.IsInRole(GlobalConstants.OwnerRoleName))
                {
                <a class="btn btn-large left #009688 teal" asp-area="" asp-controller="Appointment" asp-action="OwnerAppointments" asp-route-id="@this.UserManager.GetUserId(this.User)">Търси кучегледач</a>
                }else
                {
                <a class="btn btn-large left #009688 teal" onclick="toastMsg('Трябва да сте собственик, за да търсите кучегледач')">Търси кучегледач</a>
                }

                @if(this.SignInManager.IsSignedIn(this.User) && User.IsInRole(GlobalConstants.DogsitterRoleName))
                {
                <a class="btn btn-large right" style="background-color: #D8A861;" onclick="toastMsg('Вие вече сте кучегледач')">Стани кучегледач</a>
                }else
                {
                <a class="btn btn-large right" style="background-color: #D8A861;" asp-area="Identity" asp-page="/Account/RegisterDogsitter">Стани кучегледач</a>
                }
            </div>
        </div>
        <div class="parallax-container">
            <div class="parallax"><img src="https://res.cloudinary.com/add cloud name here/image/upload/v1587746468/photo-1558929996-da64ba858215_r4pmd0.jpg"></div>
        </div>
        <div class="section white scrollspy" id="howItWorks">
            <div class="row container">
                <h2 class="header">How it works</h2>
                <p class="grey-text text-darken-3 lighten-3">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint facilis mollitia placeat id ut similique voluptatibus, at nobis asperiores earum? Vitae dolores suscipit mollitia non veniam ullam autem. Accusantium, illo.</p>
            </div>
        </div>
        <div class="parallax-container">
            <div class="parallax"><img src="https://res.cloudinary.com/add cloud name here/image/upload/v1587746506/photo-1546975490-e8b92a360b24_vpm4tw.jpg"></div>
        </div>
        <div class="section white scrollspy" id="pricing">
            <div class="row container">
                <h2 class="header">Pricing</h2>
                <p class="grey-text text-darken-3 lighten-3">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint facilis mollitia placeat id ut similique voluptatibus, at nobis asperiores earum? Vitae dolores suscipit mollitia non veniam ullam autem. Accusantium, illo.</p>
            </div>
        </div>

    </div>
</div>

@if (this.User.IsInRole(GlobalConstants.DogsitterRoleName))
{
    if (!hasInfo)
    {
<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <a id="menu" style=" background-color: #D8A861;" onclick="$('.tap-target').tapTarget('open')" class="btn btn-floating btn-large"><i style=" background-color: #D8A861;" class="material-icons">warning</i></a>
</div>

 <!-- Start Tap Target Structure -->
<div class="tap-target" style="background-color: #D8A861;" data-target="menu">
    <div class="tap-target-content white-text">
        <h5 class="center"><i class="material-icons medium">warning</i></h5>
        <p id="feature-warning">
            @ViewData["notFilledInfo"]
        </p>
    </div>
</div>
    }
}

@section Scripts{
    <script src="~/js/prepareHomePage.js"></script>
<script>
    function toastMsg(msg) {
        window.M.toast({html: msg, classes="orange"});
    }
</script>
    <script>
        $(document).ready(function () {
            function myFunction(x) {
                if (x.matches) { // If media query matches
                    $('#logo-image').css('max-width', 600).css('max-height', 500)
                } else {
                    $('#logo-image').css('max-width', 300).css('max-height', 200)
                }
            }

            var x = window.matchMedia("(max-width: 700px)")
            myFunction(x) // Call listener function at run time
            x.addListener(myFunction) // Attach listener function on state changes
        });
    </script>
    @if (this.User.IsInRole(GlobalConstants.DogsitterRoleName))
    {
        if (!hasInfo)
        {
    <script>
        $(document).ready(function () {
            $(".tap-target").tapTarget();
        });

        $(document).ready(function () {
            setTimeout(function () {
                $('.tap-target').tapTarget('open')
            }, 1);
        });

    </script>
        }
    }
}
