@using DogCarePlatform.Common
@using DogCarePlatform.Data.Models
@using Microsoft.AspNetCore.Identity
@using System.Linq

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    this.ViewData["notFilledInfo"] = GlobalConstants.NotFilledInfo;
    this.ViewData["Title"] = GlobalConstants.MainPage;
    var hasInfo = false;
    if (this.User.IsInRole("Dogsitter"))
    {
        var user = await UserManager.GetUserAsync(this.User);
        var dogsitter = user.Dogsitter;
        hasInfo = user.Dogsitter.Address != null ? true :
                   user.Dogsitter.Description != null ? true :
                   user.Dogsitter.FirstName != null ? true :
                   user.Dogsitter.MiddleName != null ? true :
                   user.Dogsitter.LastName != null ? true :
                   user.Dogsitter.WageRate >= 5 ? true :
                   user.Dogsitter.ImageUrl != null ? true : false;
    }
}
<div id="logo-page" style="background-image: url(https://res.cloudinary.com/add cloud name here/image/upload/v1587573460/pattern_3_rjuznz.svg)">
    <div class="row" id="page-logo-heading">
        <div class="col s4 offset-s4" id="arrow-button">
            <img class="responsive-img" id="logo-img" style="display: block; margin-left: auto;margin-right: auto; position:relative; padding-top: -200px;" src="https://res.cloudinary.com/add cloud name here/image/upload/v1587668588/5b4a218cc051e602a568cd81_i97xwe.png" />
            <h3 class="center-align" id="logo-header" style="font-family: Comic Sans MS, cursive, sans-serif; color:#F8ECEC">
                Изполвайте нашата платформа, елементарно е! <br /><br />
                <a href="#introduction" id="downwards-arrow" class="btn btn-floating btn-large" style="background-color: #F8ECEC;"><i class="material-icons teal-text">arrow_downward</i></a>
            </h3>
        </div>
    </div>
</div>
<div class="row">
    <div class="center-align">
        <div class="section white scrollspy" id="introduction">
            <div class="row container">
                <h2 class="header">Introduction</h2>
                <p class="grey-text text-darken-3 lighten-3">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint facilis mollitia placeat id ut similique voluptatibus, at nobis asperiores earum? Vitae dolores suscipit mollitia non veniam ullam autem. Accusantium, illo.</p>
            </div>
        </div>
        <div class="parallax-container">
            <div class="parallax"><img src="https://res.cloudinary.com/add cloud name here/image/upload/v1587573460/pattern_3_rjuznz.svg"></div>
        </div>
        <div class="section white scrollspy" id="howItWorks">
            <div class="row container">
                <h2 class="header">How it works</h2>
                <p class="grey-text text-darken-3 lighten-3">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint facilis mollitia placeat id ut similique voluptatibus, at nobis asperiores earum? Vitae dolores suscipit mollitia non veniam ullam autem. Accusantium, illo.</p>
            </div>
        </div>
        <div class="parallax-container">
            <div class="parallax"><img src="https://res.cloudinary.com/add cloud name here/image/upload/v1587573460/pattern_3_rjuznz.svg"></div>
        </div>
        <div class="section white scrollspy" id="pricing">
            <div class="row container">
                <h2 class="header">Pricing</h2>
                <p class="grey-text text-darken-3 lighten-3">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint facilis mollitia placeat id ut similique voluptatibus, at nobis asperiores earum? Vitae dolores suscipit mollitia non veniam ullam autem. Accusantium, illo.</p>
            </div>
        </div>

    </div>
</div>

@if (this.User.IsInRole(GlobalConstants.DogsitterRoleName))
{
    if (!hasInfo)
    {
<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <a id="menu" onclick="$('.tap-target').tapTarget('open')" class="btn btn-floating btn-large #ff8f00 amber darken-3"><i class="material-icons">menu</i></a>
</div>

 <!-- Start Tap Target Structure -->
<div class="tap-target #ff8f00 amber darken-3" data-target="menu">
    <div class="tap-target-content white-text">
        <h5 class="center"><i class="material-icons medium">warning</i></h5>
        <p id="feature-warning">
            @ViewData["notFilledInfo"]
        </p>
    </div>
</div>
    }
}

@section Scripts{
    <script>
        $(document).ready(function () {
            //$("#logo-page").append(`<h3 class="col s4 offset-s4" style="font-family: Comic Sans MS, cursive, sans-serif;position: absolute; left: 50%; top: 70%; transform: translate(-50%, -50%); color:#F8ECEC">Изполвайте нашата платформа, елементарно е!</h3>`);
        });
    </script>
    <script>
        $(document).ready(function () {
            $(".scrollspy").scrollSpy({
                scrollOffset: 64,
                throttle: 10
            });
            $("#container-div").removeClass("container");
            $('.parallax').parallax();

            var $window = $(window);
            var window_height = $window.height();
            var window_width = $window.width();

            var nav_height = $(".nav-wrapper").height();

            var page_logo_heading_height = $('#page-logo-heading').height();
            var page_logo_top = window_height - page_logo_heading_height;

            var difference_top_bot = page_logo_top - nav_height;
            var img_height = $('#logo-img').height();
            var center = difference_top_bot / 2;
            var center_img = img_height / 2;

            $('#logo-header').css('top', '50px');
            $('#page-logo-heading').css('padding-top', window_height - page_logo_heading_height - nav_height);

            $('#arrow-button').css("top", window_height);
            $("#downwards-arrow").on('click', function (event) {
                if (this.hash !== "") {
                    event.preventDefault();
                    var hash = this.hash;
                    $('html, body').animate({
                        scrollTop: $(hash).offset().top
                    },
                        1000, //time in miliseconds to scroll
                        function () {
                            window.location.hash = hash;
                        });
                }
            });

            $("#logo-page").css("height", window_height - nav_height);
            //$("#downwards-arrow").css("left", "49%").css("top", "75%").css("transform", "translate(-50%, -50%);");

        });
    </script>
    @if (this.User.IsInRole(GlobalConstants.DogsitterRoleName))
    {
        if (!hasInfo)
        {
    <script>
        $(document).ready(function () {
            $(".tap-target").tapTarget();
        });

        $(document).ready(function () {
            setTimeout(function () {
                $('.tap-target').tapTarget('open')
            }, 1);
        });

    </script>
        }
    }
}
