@using DogCarePlatform.Common
@{
    this.ViewData["notFilledInfo"] = GlobalConstants.NotFilledInfo;
    this.ViewData["Title"] = GlobalConstants.MainPage;
}

<div class="text-center">
    <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@if (this.User.IsInRole(GlobalConstants.DogsitterRoleName))
{
    <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
        <a id="menu" onclick="$('.tap-target').tapTarget('open')" class="btn btn-floating btn-large #ff8f00 amber darken-3"><i class="material-icons">menu</i></a>
    </div>

    <!-- Start Tap Target Structure -->
    <div class="tap-target #ff8f00 amber darken-3" data-target="menu">
        <div class="tap-target-content white-text">
            <h5 class="center"><i class="material-icons medium">warning</i></h5>
            <p id="feature-warning">
                @ViewData["notFilledInfo"]
            </p>
        </div>
    </div>
}

@section Scripts{
    <script src="~/js/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/js/notifications.js"></script>
    @if (this.User.IsInRole(GlobalConstants.DogsitterRoleName))
    {
        <script>
            $(document).ready(function () {
                $(".tap-target").tapTarget();
            });

            $(document).ready(function () {
                setTimeout(function () {
                    $('.tap-target').tapTarget('open')
                }, 1);
            });
        </script>
        <script>
            function ready() {
            }
            //random number between 1 and 100 for demo
            var userId = Math.floor((Math.random() * 100) + 1);
            document.addEventListener("DOMContentLoaded", ready);
        </script>
    }

    <script>
        $(function () {
            var notification = $.connection.notificationHub;
            notification.client.addNewMessageToPage = function (name, message) {
                M.toast({ html: message })
            };
            $.connection.hub.start().done(function () {
                $('#sendmessage').click(function () {
                    chat.server.send($('#displayname').val(), $('#message').val());
                    $('#message').val('').focus();
                });
            });
        });
    </script>
}