@using DogCarePlatform.Common
@using DogCarePlatform.Data.Models
@using Microsoft.AspNetCore.Identity
@using System.Linq
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    this.ViewData["notFilledInfo"] = GlobalConstants.NotFilledInfo;
    this.ViewData["Title"] = GlobalConstants.MainPage;
    var hasInfo = false;
    if (this.User.IsInRole("Dogsitter"))
    {
        var user = await UserManager.GetUserAsync(this.User);
        var dogsitter = user.Dogsitter;
        hasInfo = user.Dogsitter.Address != null ? true :
                   user.Dogsitter.Description != null ? true :
                   user.Dogsitter.FirstName != null ? true :
                   user.Dogsitter.MiddleName != null ? true :
                   user.Dogsitter.LastName != null ? true :
                   user.Dogsitter.WageRate >= 5 ? true :
                   user.Dogsitter.ImageUrl != null ? true : false;
    }
}
<div id="logo-page" style="background-image: url(https://res.cloudinary.com/add cloud name here/image/upload/v1587573460/pattern_3_rjuznz.svg)">
    <a href="#introduction" id="downwards-arrow" class="btn btn-floating btn-large red"><i class="material-icons blac-text">arrow_downward</i></a>
</div>
<div class="row">
    <div class="center-align">
        @*<div class="parallax-container" id="parallax-logo">
            <div class="parallax">
                <img style="background-image: url(https://res.cloudinary.com/add cloud name here/image/upload/v1587573460/pattern_3_rjuznz.svg)">
                <a href="#introduction" class="btn btn-floating btn-large white"><i class="material-icons blac-text">arrow_downward</i></a>
            </div>
        </div>*@
        <div class="section white scrollspy" id="introduction">
            <div class="row container">
                <h2 class="header">Introduction</h2>
                <p class="grey-text text-darken-3 lighten-3">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint facilis mollitia placeat id ut similique voluptatibus, at nobis asperiores earum? Vitae dolores suscipit mollitia non veniam ullam autem. Accusantium, illo.</p>
            </div>
        </div>
        <div class="parallax-container">
            <div class="parallax"><img src="https://res.cloudinary.com/add cloud name here/image/upload/v1587573460/pattern_3_rjuznz.svg"></div>
        </div>
        <div class="section white scrollspy" id="howItWorks">
            <div class="row container">
                <h2 class="header">How it works</h2>
                <p class="grey-text text-darken-3 lighten-3">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint facilis mollitia placeat id ut similique voluptatibus, at nobis asperiores earum? Vitae dolores suscipit mollitia non veniam ullam autem. Accusantium, illo.</p>
            </div>
        </div>
        <div class="parallax-container">
            <div class="parallax"><img src="https://res.cloudinary.com/add cloud name here/image/upload/v1587573460/pattern_3_rjuznz.svg"></div>
        </div>
        <div class="section white scrollspy" id="pricing">
            <div class="row container">
                <h2 class="header">Pricing</h2>
                <p class="grey-text text-darken-3 lighten-3">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint facilis mollitia placeat id ut similique voluptatibus, at nobis asperiores earum? Vitae dolores suscipit mollitia non veniam ullam autem. Accusantium, illo.</p>
            </div>
        </div>

        @*<div id="introduction" class="section scrollspy">
                <p>

                </p>
            </div>*@

        @*<div id="howItWorks" class="section scrollspy">
                    <p>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint facilis mollitia placeat id ut similique voluptatibus, at nobis asperiores earum? Vitae dolores suscipit mollitia non veniam ullam autem. Accusantium, illo.
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint facilis mollitia placeat id ut similique voluptatibus, at nobis asperiores earum? Vitae dolores suscipit mollitia non veniam ullam autem. Accusantium, illo.
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint facilis mollitia placeat id ut similique voluptatibus, at nobis asperiores earum? Vitae dolores suscipit mollitia non veniam ullam autem. Accusantium, illo.
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint facilis mollitia placeat id ut similique voluptatibus, at nobis asperiores earum? Vitae dolores suscipit mollitia non veniam ullam autem. Accusantium, illo.Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint facilis mollitia placeat id ut similique voluptatibus, at nobis asperiores earum? Vitae dolores suscipit mollitia non veniam ullam autem. Accusantium, illo.
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint facilis mollitia placeat id ut similique voluptatibus, at nobis asperiores earum? Vitae dolores suscipit mollitia non veniam ullam autem. Accusantium, illo.
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint facilis mollitia placeat id ut similique voluptatibus, at nobis asperiores earum? Vitae dolores suscipit mollitia non veniam ullam autem. Accusantium, illo.

                    </p>
                </div>

                <div id="howItWorks" class="section scrollspy">
                    <p>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint facilis mollitia placeat id ut similique voluptatibus, at nobis asperiores earum? Vitae dolores suscipit mollitia non veniam ullam autem. Accusantium, illo.
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint facilis mollitia placeat id ut similique voluptatibus, at nobis asperiores earum? Vitae dolores suscipit mollitia non veniam ullam autem. Accusantium, illo.
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint facilis mollitia placeat id ut similique voluptatibus, at nobis asperiores earum? Vitae dolores suscipit mollitia non veniam ullam autem. Accusantium, illo.
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint facilis mollitia placeat id ut similique voluptatibus, at nobis asperiores earum? Vitae dolores suscipit mollitia non veniam ullam autem. Accusantium, illo.Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint facilis mollitia placeat id ut similique voluptatibus, at nobis asperiores earum? Vitae dolores suscipit mollitia non veniam ullam autem. Accusantium, illo.
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint facilis mollitia placeat id ut similique voluptatibus, at nobis asperiores earum? Vitae dolores suscipit mollitia non veniam ullam autem. Accusantium, illo.
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint facilis mollitia placeat id ut similique voluptatibus, at nobis asperiores earum? Vitae dolores suscipit mollitia non veniam ullam autem. Accusantium, illo.

                    </p>
                </div>

                <div id="howItWorks" class="section scrollspy">
                    <p>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint facilis mollitia placeat id ut similique voluptatibus, at nobis asperiores earum? Vitae dolores suscipit mollitia non veniam ullam autem. Accusantium, illo.
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint facilis mollitia placeat id ut similique voluptatibus, at nobis asperiores earum? Vitae dolores suscipit mollitia non veniam ullam autem. Accusantium, illo.
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint facilis mollitia placeat id ut similique voluptatibus, at nobis asperiores earum? Vitae dolores suscipit mollitia non veniam ullam autem. Accusantium, illo.
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint facilis mollitia placeat id ut similique voluptatibus, at nobis asperiores earum? Vitae dolores suscipit mollitia non veniam ullam autem. Accusantium, illo.Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint facilis mollitia placeat id ut similique voluptatibus, at nobis asperiores earum? Vitae dolores suscipit mollitia non veniam ullam autem. Accusantium, illo.
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint facilis mollitia placeat id ut similique voluptatibus, at nobis asperiores earum? Vitae dolores suscipit mollitia non veniam ullam autem. Accusantium, illo.
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint facilis mollitia placeat id ut similique voluptatibus, at nobis asperiores earum? Vitae dolores suscipit mollitia non veniam ullam autem. Accusantium, illo.

                    </p>
                </div>

                <div id="pricing" class="section scrollspy">
                    <p>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint facilis mollitia placeat id ut similique voluptatibus, at nobis asperiores earum? Vitae dolores suscipit mollitia non veniam ullam autem. Accusantium, illo.
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint facilis mollitia placeat id ut similique voluptatibus, at nobis asperiores earum? Vitae dolores suscipit mollitia non veniam ullam autem. Accusantium, illo.
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint facilis mollitia placeat id ut similique voluptatibus, at nobis asperiores earum? Vitae dolores suscipit mollitia non veniam ullam autem. Accusantium, illo.
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint facilis mollitia placeat id ut similique voluptatibus, at nobis asperiores earum? Vitae dolores suscipit mollitia non veniam ullam autem. Accusantium, illo.Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint facilis mollitia placeat id ut similique voluptatibus, at nobis asperiores earum? Vitae dolores suscipit mollitia non veniam ullam autem. Accusantium, illo.
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint facilis mollitia placeat id ut similique voluptatibus, at nobis asperiores earum? Vitae dolores suscipit mollitia non veniam ullam autem. Accusantium, illo.
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint facilis mollitia placeat id ut similique voluptatibus, at nobis asperiores earum? Vitae dolores suscipit mollitia non veniam ullam autem. Accusantium, illo.
                    </p>
                </div>
            </div>*@
        @*<div class="col hide-on-small-only m3 l2">
                <ul class="section table-of-contents">
                    <li><a href="#introduction">Introduction</a></li>
                    <li><a href="#structure">Structure</a></li>
                    <li><a href="#initialization">Intialization</a></li>
                </ul>
            </div>*@
    </div>
</div>

@if (this.User.IsInRole(GlobalConstants.DogsitterRoleName))
{
    if (!hasInfo)
    {
        <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
            <a id="menu" onclick="$('.tap-target').tapTarget('open')" class="btn btn-floating btn-large #ff8f00 amber darken-3"><i class="material-icons">menu</i></a>
        </div>

        <!-- Start Tap Target Structure -->
        <div class="tap-target #ff8f00 amber darken-3" data-target="menu">
            <div class="tap-target-content white-text">
                <h5 class="center"><i class="material-icons medium">warning</i></h5>
                <p id="feature-warning">
                    @ViewData["notFilledInfo"]
                </p>
            </div>
        </div>
    }
}

@section Scripts{
    <script>
        $(document).ready(function () {
            $(".scrollspy").scrollSpy({
                scrollOffset: 64,
                throttle: 10
            });
            $("#container-div").removeClass("container");
            $('.parallax').parallax();

            var $window = $(window);
            var window_height = $window.height();
            var window_width = $window.width();
            var nav_height = $(".nav-wrapper").height()

            $("#downwards-arrow").on('click', function (event) {
                if (this.hash !== "") {
                    event.preventDefault();
                    var hash = this.hash;
                    $('html, body').animate({
                        scrollTop: $(hash).offset().top
                    },
                        1000, //time in miliseconds to scroll
                        function () {
                            window.location.hash = hash;
                        });
                }
            });

            $("#logo-page").css("height", window_height);

            $("#downwards-arrow").css("left", window_width / 2).css("top", window_height- 3*nav_height);
        });
    </script>
    @if (this.User.IsInRole(GlobalConstants.DogsitterRoleName))
    {
        if (!hasInfo)
        {
            <script>
                $(document).ready(function () {
                    $(".tap-target").tapTarget();
                });

                $(document).ready(function () {
                    setTimeout(function () {
                        $('.tap-target').tapTarget('open')
                    }, 1);
                });

            </script>
        }
    }
}
