
@{
    ViewData["Title"] = "NotFoundError";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>NotFoundError</h1>

<div class="row" style="padding-top: 100px;">
    <div class="col s12">
        <div class="card medium hoverable blue-grey darken-1 center">
            <div class="card-content white-text">
                <span class="card-title"><h3>Не намираме такава страница </h3><i class="material-icons large red-text">find_in_page</i></span>
                <p>
                    <h3>
                        Страницата ,която търсите, не беше намерена.
                    </h3>
                </p>
            </div>
        </div>
    </div>
</div>