@model DogCarePlatform.Web.ViewModels.Administration.Dashboard.UnapprovedUsersViewModel

@{
    ViewData["Title"] = "RegulateApplicants";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="center">Регулиране на кандидати</h2>

<table class="responsive-table highlight">
    <thead>
        <tr>
            <th>Дата на подаване</th>
            <th>Еmail</th>
            <th>Телефонен номер</th>
            <th>Управление</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var applicant in Model.Applicants)
        {
            <tr>
                <td>@applicant.CreatedOn</td>
                <td>@applicant.Email</td>
                <td>@applicant.PhoneNumber</td>
                <td>
                    <a class="tooltipped btn #ffeb3b yellow teal-text" data-position="right" data-tooltip="Повече информация" asp-area="Administration" asp-controller="Dashboard" asp-action="ApplicantById" asp-route-id="@applicant.Id">Детайли</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('.tooltipped').tooltip();
        });
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('.tooltipped');
            var instances = M.Tooltip.init(elems, options);
        });

        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('.modal');
            var instances = M.Modal.init(elems, options);
        });
    </script>
}