@model DogCarePlatform.Web.ViewModels.Dogsitter.AppointmentControlViewModel
@{
    ViewData["Title"] = "GetAppointmentFromNotification";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Имате заявка от @Model.Owner.FirstName @Model.Owner.LastName</h1>

