@using DogCarePlatform.Common
@{
    ViewData["Title"] = GlobalConstants.SuccessfullySentApplication;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Успешно изпратено заявление!</h1>
<p>Моля изчакайте заявлението ви да бъде прегледано. Ще получите съобщение на своята електронна поща възможно най-скоро.</p>

